-i https://pypi.org/simple
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0 ; python_version >= '3.6'
asgiref==3.7.2 ; python_version >= '3.7'
cffi==1.16.0 ; python_version >= '3.8'
django==4.2.9
pycparser==2.21
python-dotenv==1.0.0
sqlparse==0.4.4 ; python_version >= '3.5'
typing-extensions==4.9.0 ; python_version < '3.11'
